@use 'base';
@use 'components/marquee';
@use 'components/header';
@use 'components/hero';
@use 'components/about';
@use 'components/founders';
@use 'components/gallery';
@use 'components/portfolio';
@use 'components/services';
@use 'components/contact';
@use 'components/footer';
@use 'components/whatsapp';
